*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

.parent-1{
    width: 30%;
    height: 450px;
    border: 1px solid black;
    margin: auto;
    background-color: pink;
    margin-top: 100px;
}
.parent-1>h2{
    text-align: center;
    font-size: 35px;
}
.lable-email{
    font-size: 30px;
    padding-left: 10px;
 
}
.input-name{
    width: 60%;
    height: 50px;
    margin-left: 100px;
}
.submit-data{
    width: 50%;
    height: 50px; 
    margin-top: 40px;
    background-color: black; 
    color: white;
    margin-left: 120px;

}