*{
      margin: 0;
      padding: 0%;
      box-sizing: border-box;
}
.namvbar-top{
      border: 1px solid black;
      width: 100%;
      height: 60px;
      background-color: black;
      justify-content: space-around;
      display: flex;
      color: white;
      font-size: 25px;
}